li a {
    text-decoration: none;
}

#lhphoto {
    width: 100%;
}
#imgbutton {
    margin-bottom: 1%;
}
/*
#top_container {
    display:grid;
    grid-gap: 10px;
    grid-template:
        "img h1"
        "img p"
        / 150px 1fr;
}

img { grid-area: img;}
h1 {grid-area: h1;}
p {grid-area: p;}
*/